@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply bg-primary text-textPrimary;
  }
}

/* Light mode styles */
.light-mode {
  --color-primary: #ffffff;
  --color-secondary: #f3f4f6;
  --color-text-primary: #1f2937;
  --color-text-secondary: #4b5563;
  --color-accent: #2563eb;
  --color-accent-light: #3b82f6;
}

/* Dark mode styles */
:root {
  --color-primary: #0a192f;
  --color-secondary: #112240;
  --color-text-primary: #ccd6f6;
  --color-text-secondary: #8892b0;
  --color-accent: #64ffda;
  --color-accent-light: #64ffda;
}